<div class="footer">
	<div class="footer-top">
		<div class="container">
			<%jinpaiwenxiu.forEach(function(wxs){%>
				<div class="col-md-6 footer-grid">
					<h4><%=wxs.title%></h4>
					<div class="grid-footer">
						<div class="col-md-4 footer-left">
							<script>
								var imgStr = '<%-wxs.image%>';
								jsonImgPrint(imgStr,'_180x144','img-responsive');
							</script>
						</div>
						<div class="col-md-8 footer-left-in">
							<p><%=wxs.remarks%></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<%});%>
			<div class="clearfix"> </div>
		</div>
	</div>
	<p class="footer-class">Copyright &copy; 2017.懂你半永妆 All rights reserved.</p>
<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>