<div class="ui-select" style="width:<%=width%>px">
    <select  name="<%=name%>">
        <option />
        <% options.forEach(function(option){%>
            <option value="<%=option.value%>" <% if(typeof(defaultValue)!='undefined'){%><% if(defaultValue==option.value){%>selected<%}%><%}%>><%=option.label%></option>
        <%})%>
    </select>
</div>