<!DOCTYPE html>
<html>
<head>
	<title>您访问的页面不存在</title>
	<% include  ./include/resou.ejs %>
</head>
<body>
<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
<!---->
<!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
                    <a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
             </div>
	      <!---//End-color-changer----->
	<div class="container">
		<div class="four">		
		<p>PAGE NOT FOUND</p>
		  <h2>404</h2>	  
		   <a href="index.html" class="go">Go Back </a>
		 </div>
	</div>
			<!---->
<% include  ./include/footer.ejs %>
</body>
</html>