<!DOCTYPE html>
<html>
<head>
<title>懂你半永妆工作室——让您更懂你</title>
<link href="/dnbyz/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/dnbyz/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<style type="text/css">@import url("/dnbyz/css/style.css");</style>
<link href="/dnbyz/css/black.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="懂你半永妆 纹绣 " />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="/dnbyz/js/move-top.js"></script>
<script type="text/javascript" src="/dnbyz/js/easing.js"></script>
<!-- slide -->
<script src="/dnbyz/js/responsiveslides.min.js"></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<!---css-style-switecher----->
		<script type="text/javascript" src="js/jsapi.js"></script>
		<script>
		google.setOnLoadCallback(function()
			{
			    // Color changer
			    $(".colorred").click(function(){
			        $("link").attr("href", "css/red.css");
			        return false;
			    });
			    
			    $(".colorblack").click(function(){
			        $("link").attr("href", "css/black.css");
			        return false;
			    });
			
			});
		</script>
		<!---//End-css-style-switecher----->

</head>
<body>
<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
<!---->
		<!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
                    <a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
             </div>
	      <!---//End-color-changer----->

<div class="banner">
	<div class="col-md-3 banner-mat">
		<img class="img-responsive"	src="/dnbyz/images/ba1.jpg" alt="">
	</div>
	<div class="col-md-6 matter-banner">
	 <div class="slider">
	    <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li>
	          <img src="/dnbyz/images/b2.jpg" alt="">
	          <div class="caption">
	          	<h2>韩式经典水雾眉</h2>
	          	<p>逼真，防水，不变色，不褪色</p>
	          </div>
	        </li>
			 <li>
	          <img src="/dnbyz/images/b1.jpg" alt="">
	           <div class="caption">
	          	<h2>韩式经典美瞳线</h2>
	          	<p>逼真，防水，不变色，不褪色，管2年</p>
	          </div>
	        </li>
			 <li>
	          <img src="/dnbyz/images/b2.jpg" alt="">
	           <div class="caption">
	          	<h2>德国孕睫术</h2>
	          	<p>跟天生长睫毛完全一样，从此不再用假睫毛</p>
	          </div>
	        </li>
			 <li>
	          <img src="/dnbyz/images/b3.jpg" alt="">
	           <div class="caption">
	          	<h2>冰点无痛脱毛</h2>
	          	<p>永久脱毛、无痛、无伤口</p>
	          </div>
	        </li>		
	      </ul>
	  </div>
	</div>
	</div>
	<div class="col-md-3 banner-mat">
	<img class="img-responsive" src="/dnbyz/images/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!---->
<div class="content">
		<div class="content-top">
		<div class="container">
			<ul class="col-md-4 social-in">
				<li><i> </i></li>						
				<li><i class="pencil"> </i></li>
				<li><i class="drop"> </i></li>
			</ul>
			<div class="col-md-8 content-top-in">
				<h3>懂你半永妆工作室欢迎您的光临</h3>
				<p>我们一直秉承提供客户最高端的服务，您对每个细节的要求我们的都为你一一提供，我们的宗旨是让你不化妆比化妆还美。——懂你工作室让您更懂你</p>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	    <div class="copyrights">Collect from <a href="" >手机网站模板</a></div>
		
		<!---->
		<div class="content-bottom">
		<div class="container">
			<div class="col-md-9 bottom-content">
				<div class="grid-top">
					<div class="col-md-4 grid">
						<div id="nivo-lightbox-demo"> <p> <a href="/dnbyz/images/se.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>     
							<img class="img-responsive" src="/dnbyz/images/se.jpg" alt="">
						
					</div>
					<div class="col-md-8 grid-bottom">
						<h4>孕睫术经典案例分享</h4>
						<h6>Classic cases of pregnancy sharing</h6>
						<p>独家专利技术将双向控调的毛发促生因子直接送入毛囊内部，促进微循环，促进毛发生长。孕睫五部曲1.激活唤醒毛囊组织2.7-15天优化毛囊生长环境3.3-4周睫毛根部幼小毛发生长4.35-50天睫毛根部变粗，色泽乌黑5.60-90天睫毛长度最佳，浓密纤长.</p>
						<a href="#" class="in-more ">查看详情 <i> </i></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="grid-top">
					<div class="col-md-4 grid">
						<div id="nivo-lightbox-demo"> <p> <a href="/dnbyz/images/se1.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>     
									  	<img class="img-responsive" src="/dnbyz/images/se1.jpg" alt="">
					</div>
					<div class="col-md-8 grid-bottom amet">
						<h4>韩式水雾眉经典案例分享</h4>
						<h6>Korean water mist classic case to share</h6>
						<p>手工雾眉，也叫作粉黛眉，好像眉笔眉粉画出来的效果，柔柔和和，自自然然的。纯手工操作，基本不结痂，避免尴尬期。</p>
						<a href="#" class="in-more">查看详情 <i> </i></a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 quick">
				<h4>立即给我们留言</h4>
				<div class="grid-enter">
					<input type="text" value="输入您的姓名 ..." onFocus="this.value='';" onBlur="if (this.value == '') {this.value = 'Enter your name ...';}">
					<i> </i>
				</div>
				<div class="grid-enter">
					<input type="text" value="输入您的邮箱..." onFocus="this.value='';" onBlur="if (this.value == '') {this.value = 'Enter email id...';}">
					<i class="mail"> </i>
				</div>
				<div class="grid-enter">
					<textarea value="John simth" onFocus="this.value='';" onBlur="if (this.value == '') {this.value = 'Message';}">输入您的留言</textarea>
					<i class="message"> </i>
				</div>
				<input type="submit" value="提交">
				<label> </label>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
		<!---->
		<link rel="stylesheet" type="text/css" href="/dnbyz/css/magnific-popup.css">
			<script type="text/javascript" src="/dnbyz/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

		<div class="container">
		<!---->
		<div class="bottom-content-in">
			<div class="col-md-4 in-profile">
					<h4>新闻</h4>
					<div class="col-in-about">
						<div class="in-sed">
							<b>2017</b>
							<span>6月6日</span>
						</div>
						<div class="left-sit">
							<p>热烈庆祝懂你半永妆工作室顺利开业，我们得存在只为让您更懂你</p>
							<a href="#" class="more"><b>+</b> 更多</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-in-about">
						<div class="in-sed">
							<b>2017</b>
							<span>6月6日</span>
						</div>
						<div class="left-sit">
							<p>热烈庆祝懂你半永妆工作室顺利开业，我们得存在只为让您更懂你</p>
							<a href="#" class="more"><b>+</b> 更多</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-in-about">
						<div class="in-sed">
							<b>05</b>
							<span>DEC</span>
						</div>
						<div class="left-sit">
							<p>热烈庆祝懂你半永妆工作室顺利开业，我们得存在只为让您更懂你</p>
							<a href="#" class="more"><b>+</b> 更多</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
				
				<div class="col-md-4 in-profile">
					<h4>常见问题及回答</h4>
					<div class="from">
						<p>“ 做手工水雾眉会影响我的正常生活吗？ ”</p>
						<ul class="date">
							<li><span>亲，手工水雾眉是绝对不会影响您的正式生活的，一般前3个小时内不要接触水，前24小时不要洗到眉毛就可以啦。</span></li>
						</ul>
					</div>
					<div class="from">
						<p class="sed">“ 做之前要求的形状做之后发现形状不理想可以在换形状吗？ ”</p>
						<ul class="date">
							<li><span>亲，我们会您提供一次免费的补色或在能够操作的情况下适当修改眉形的服务。</span></li>
						</ul>
					</div>
					<div class="from">
						<p class="sed">“ 你们的价格是多少呀？我见到做这个收费乱七八糟的你们是什么收费标准的？ ”</p>
						<ul class="date">
							<li><span>你好，亲！我们的收费价格一般会根据用户的需求和操作的难易程度定价。一般价格不会比较固定。如案例1：本来一位顾客做过永久型的文眉但是后来不满意，我们再为您修复调整不仅仅在操作和设计上会遇到很大的麻烦后期的补色也会比较麻烦，所以价格一般会因人而异。</span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 in-profile">
                	<div class="from">
						<p class="sed">" 我见过很多网站上宣传上写的优惠活动的价格非常优惠可是到了现场实际价格却超出预期很多，你们也是这样的吗？会有其他费用吗？ "</p>
						<ul class="date">
							<li><span>你好，亲！这一点我们工作室是非常憎恶的，这种行为即扰乱了市场，也降低了消费者对行业的信任度。我们承诺我们的每个活动都会标记具体的详细时间范围，我们的优惠到的价格是表里如一的，绝对不会到店后涨价。我们唯一可能会拒绝的顾客是存在皮肤问题不建议操作的顾客，正在生病不适宜当前操作的顾客。</span></li>
						</ul>
					</div>
                    <div class="from">
						<p class="sed">" 你们的工作室是不是属于非法或者操作人员不具备合法资格的 "</p>
						<ul class="date">
							<li><span>你好，亲！我们的工作室是拥有合法经营许可证的工作室，我们的纹绣师都是拥有国家颁发证书拥有合法资质的纹绣师。</span></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!---->
<% include  ./include/footer.ejs %>
</body>
</html>