<!DOCTYPE html>
<html>

<head>
	<title>新闻信息——懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
</head>

<body>
	<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
	<!---->
	<!---start-color-changer----->
	<div id="colorchanger">
		<a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
		<a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
	</div>
	<!---//End-color-changer----->
	<div class="container list">
		<%news.forEach(function(news){%>
			<div class="news">
				<div class="title">
					<font>■</font><%=news.title%>[2017-06-08]
				</div>
				<div class="content"><%=news.description%></div>
			</div>
		<%})%>
	</div>
	<!---->
	<% include  ./include/footer.ejs %>
</body>

</html>