<!DOCTYPE html>
<html>

<head>
	<title>我们的项目——懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
</head>

<body>
	<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
	<!---->
	<!---start-color-changer----->
	<div id="colorchanger">
		<a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
		<a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
	</div>
	<!---//End-color-changer----->
	<div class="container channel-list">
		<ul class="row clearfix">
			<%projects.forEach(function(project){%>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="javascript:void(0)" target="_blank" data-stat-id="def8cfe8112d6808" onclick="">
						<%if(project.image_json){%>					
							<%project.image_json.forEach(function(img){%>
								<img src="/getfile?id=<%=img.id%>&format=555x308" class="img-responsive" alt=""/>
							<%})%>
						<%}%>
					</a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							<%=project.title%> <!--<b><%=project.remarks%></b><span>元</span>-->
						</dt>
						<dd>
							<%=project.description%>
						</dd>
					</dl>
					<!--<p class="channel-list-btn">
						<a href="javascript:void(0)" class="btn btn-line-primary" data-stat-id="122a46aa13815b80" onclick="">立即预约</a>
					</p>-->
				</div>
			</li>
			<%})%>
		</ul>
	</div>
	<!---->
	<% include  ./include/footer.ejs %>
</body>

</html>