<!DOCTYPE html>
<html>

<head>
	<title>我们的项目——懂你半永妆工作室——让您更懂你</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<style type="text/css">
		@import url("css/style.css");
	</style>
	<link href="css/black.css" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Elegant Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--fonts-->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- slide -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!---css-style-switecher----->
	<script type="text/javascript" src="js/jsapi.js"></script>
	<script>
		google.setOnLoadCallback(function () {
			// Color changer
			$(".colorred").click(function () {
				$("link").attr("href", "css/red.css");
				return false;
			});

			$(".colorblack").click(function () {
				$("link").attr("href", "css/black.css");
				return false;
			});

		});
	</script>
	<!---//End-css-style-switecher----->

</head>

<body>
	<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
	<!---->
	<!---start-color-changer----->
	<div id="colorchanger">
		<a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
		<a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
	</div>
	<!---//End-color-changer----->
	<div class="container channel-list">
		<ul class="row clearfix">
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/mi6/" target="_blank" data-stat-id="def8cfe8112d6808" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-def8cfe8112d6808', '//www.mi.com/mi6/', 'pcpid', '']);"><img src="images/project_1.png" class="img-responsive" alt="小米6"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米6 <b>2499</b><span>元起</span>
						</dt>
						<dd>
							骁龙835 旗舰处理器，6GB 大内存<br>5.15" 护眼屏，四曲面陶瓷/玻璃 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//www.mi.com/mi6/" class="btn btn-line-primary" data-stat-id="122a46aa13815b80" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-122a46aa13815b80', '//www.mi.com/mi6/', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/max2/" target="_blank" data-stat-id="2a055da3f9fce64b" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-2a055da3f9fce64b', '//www.mi.com/max2/', 'pcpid', '']);"><img src="images/project_1.png" class="img-responsive" alt="小米Max 2"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米Max 2 <b>1699</b><span>元起</span>
						</dt>
						<dd>
							6.44''大屏，5300mAh充电宝级的大电量<br>大像素相机，轻薄全金属，骁龙八核处理器 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//item.mi.com/product/10000057.html" class="btn btn-line-primary" data-stat-id="9eb49154bfafa915" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-9eb49154bfafa915', '//item.mi.com/product/10000057.html', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/mi5c/" target="_blank" data-stat-id="8fa9de7b190ce652" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-8fa9de7b190ce652', '//www.mi.com/mi5c/', 'pcpid', '']);"><img src="images/project_2.png" class="img-responsive" alt="小米手机5c"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米手机5c <b>1499</b><span>元</span>
						</dt>
						<dd>
							澎湃S1，八核高性能处理器，金属一体化机身<br>“暗夜之眼”超感光相机，捕捉明亮动人时刻 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//item.mi.com/buyphone/mi5c" class="btn btn-line-primary" data-stat-id="c46fd1a07c8373fc" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-c46fd1a07c8373fc', '//item.mi.com/buyphone/mi5c', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/redmi4x/" target="_blank" data-stat-id="60dffa73d4771dff" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-60dffa73d4771dff', '//www.mi.com/redmi4x/', 'pcpid', '']);"><img src="images/project_1.png" class="img-responsive" alt="红米4X"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							红米4X <b>699</b><span>元起</span>
						</dt>
						<dd>
							4100mAh 超长续航，骁龙 8 核处理器<br>5" 舒适单手握感，1300万像素高画质相机 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//item.mi.com/buyphone/redmi4x" class="btn btn-line-primary" data-stat-id="4c88f396312f1884" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-4c88f396312f1884', '//item.mi.com/buyphone/redmi4x', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/redminote4x/" target="_blank" data-stat-id="4c610ddef60b42c9" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-4c610ddef60b42c9', '//www.mi.com/redminote4x/', 'pcpid', '']);"><img src="images/project_2.png" class="img-responsive" alt="红米Note 4X"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							红米Note 4X <b>799</b><span>元起</span>
						</dt>
						<dd>
							骁龙 8 核处理器，4100mAh 超长续航<br>5.5" 全高清大屏，多彩金属机身 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="javascript:void(0)" class="btn btn-line-primary" data-stat-id="7ecd8b456200cc7b" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-7ecd8b456200cc7b', '//item.mi.com/buyphone/redminote4x', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="javascript:void(0)" target="_blank" data-stat-id="39f973b4735d1808" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-39f973b4735d1808', '//www.mi.com/minote2/', 'pcpid', '']);"><img src="images/project_1.png" class="img-responsive" alt="小米Note 2"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米Note 2 <b>2799</b><span>元起</span>
						</dt>
						<dd>
							5.7" 双曲面柔性屏，正反面 3D 曲面玻璃<br> 2256万超高像素相机，骁龙821 性能版 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="javascript:void(0)" class="btn btn-line-primary" data-stat-id="a74d357b6258a036" >立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/mix/" target="_blank" data-stat-id="1b8bbf4070319742" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-1b8bbf4070319742', '//www.mi.com/mix/', 'pcpid', '']);"><img src="images/project_2.png" class="img-responsive" alt="小米MIX"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米MIX <b>3499</b><span>元起</span>
						</dt>
						<dd>
							6.4" 全面屏，全陶瓷机身，骁龙 821 性能版<br> 4400mAh 大电量，可选128GB版/256GB版 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//item.mi.com/buyphone/mix/" class="btn btn-line-primary" data-stat-id="d7aa60444307c1e0" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-d7aa60444307c1e0', '//item.mi.com/buyphone/mix/', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
			<li class="col-md-6">
				<div class="channel-list-img">
					<a href="//www.mi.com/mi5s" target="_blank" data-stat-id="a311f45941613280" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-a311f45941613280', '//www.mi.com/mi5s', 'pcpid', '']);"><img src="images/project_1.png" class="img-responsive" alt="小米5s"></a>
				</div>
				<div class="channel-list-con clearfix">
					<dl class="channel-list-des">
						<dt>
							小米5s <b>1999</b><span>元起</span>
						</dt>
						<dd>
							“暗夜之眼”超感光相机，无孔式超声波指纹识别<br> 骁龙 821 旗舰处理器，全金属一体化机身 </dd>
					</dl>
					<p class="channel-list-btn">
						<a href="//item.mi.com/buyphone/mi5s" class="btn btn-line-primary" data-stat-id="3ae48c71e2477ff8" onclick="_msq.push(['trackEvent', '8076ed7ffc35f6db-3ae48c71e2477ff8', '//item.mi.com/buyphone/mi5s', 'pcpid', '']);">立即预约</a>
					</p>
				</div>
			</li>
		</ul>
	</div>
	<!---->
	<% include  ./include/footer.ejs %>
</body>

</html>