<!DOCTYPE html>
<html>
<head>
	<title>案例分享——懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
</head>
<body>
<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
<!---->
<!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
                    <a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
             </div>
	      <!---//End-color-changer----->
<div class="container">
	<div class="portfolio">
		<h2>经典案例分享</h2>
		<div class="products-bottom">
			<%anlis.forEach(function(al){%>
				<div class="col-md-4 work-grid">
					<div id="nivo-lightbox-demo">			
						<a  href="images/pi.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
							<script>
								var imgStr = '<%-al.image%>';
								var obj = jsonImgPrint(imgStr,'_400x300','img-responsive');
								$('#'+obj.id).parent().attr('href',obj.src);
							</script>
							<div class="rotate">
								<i> </i>	
							</div>				
						</a> 
					</div>
				</div>
			<%});%>
			<div class="clearfix"> </div>	
		</div>
	</div>
</div>
	<!--script-->
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
			<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

			<!---->
			<% include  ./include/footer.ejs %>

	</div>
</body>
</html>