<!DOCTYPE html>
<html class="login-bg" xmlns="http://www.w3.org/1999/html">
<head>
    <title>后台管理系统 - 登录</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- bootstrap -->
    <link href="/plugin/theme/default/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="/plugin/theme/default/css/bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="/plugin/theme/default/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/plugin/theme/default/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/theme/default/css/elements.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/theme/default/css/icons.css"/>

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/plugin/theme/default/css/lib/font-awesome.css"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/plugin/theme/default/css/compiled/signin.css" type="text/css" media="screen"/>


    <!--[if lt IE 9]>
    <script src="/js/common/html5shiv.min.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>


<!-- background switcher -->
<div class="bg-switch visible-desktop">
    <div class="bgs">
        <a href="#" data-img="landscape.jpg" class="bg active">
            <img src="/plugin/theme/default/img/bgs/landscape.jpg"/>
        </a>
        <a href="#" data-img="blueish.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/blueish.jpg"/>
        </a>
        <a href="#" data-img="7.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/7.jpg"/>
        </a>
        <a href="#" data-img="8.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/8.jpg"/>
        </a>
        <a href="#" data-img="9.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/9.jpg"/>
        </a>
        <a href="#" data-img="10.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/10.jpg"/>
        </a>
        <a href="#" data-img="11.jpg" class="bg">
            <img src="/plugin/theme/default/img/bgs/11.jpg"/>
        </a>
    </div>
</div>


<div class="row-fluid login-wrapper">
    <a href="index.html">
        <img class="logo" src="/plugin/theme/default/img/logo-white.png"/>
    </a>

    <div class="span4 box">
        <div class="content-wrap">
            <form method="post" action="/manage/signin" name="login">
                <h6>登录</h6>
                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                <input class="span12" type="text" name="login_name" placeholder="请输入您的登录名"/>
                <input class="span12" type="password" name="password" placeholder="请输入您的密码"/>
                <a href="#" class="forgot">您忘记密码了吗?</a>
                <div class="remember">
                    <input id="remember-me" type="checkbox"/>
                    <label for="remember-me">记住密码</label>
                </div>
                <button type="submit" id="login" class="btn-glow primary login">登录</button>
            </form>
        </div>
    </div>

    <!--<div class="span4 no-account">
        <p>忘记登录密码?</p>
        <a href="signup.html">Sign up</a>
    </div>-->
</div>

<!-- scripts -->
<script src="/js/common/jquery-1.12.4.min.js"></script>
<script src="/plugin/theme/default/js/bootstrap.min.js"></script>
<script src="/plugin/theme/default/js/theme.js"></script>
<script src="/js/common/jquery.validate.js" type="text/javascript"></script>
<script src="/js/common/common.js"></script>
<!-- jbox -->
<script src="/plugin/jBox-0.4.8/Source/jBox.min.js"></script>
<link href="/plugin/jBox-0.4.8/Source/jBox.css" rel="stylesheet">
<link href="/plugin/jBox-0.4.8/Source/plugins/Notice/jBox.Notice.css" rel="stylesheet">
<script src="/plugin/jBox-0.4.8/Source/plugins/Notice/jBox.Notice.js"></script>
<link rel="stylesheet" href="/plugin/jBox-0.4.8/Source/themes/NoticeFancy.css">

<!-- pre load bg imgs -->
<script src="/js/manage/login.js" type="text/javascript"></script>
</body>
</html>